{% extends "home_with_date_picker.html" %}

{% block body %}
<form class="layui-form" action="/home/" lay-filter="example" method="get">
    <div class="layui-form-item" align="center">
        <div>
            <input type="checkbox" name="telnet" title="Telnet" {% if telnet == "on" %} checked="" {% endif %}>
            <input type="checkbox" name="ssh" title="SSH" {% if ssh == "on" %} checked="" {% endif %}>
        </div>
    </div>
    <div class="layui-form-item" align="center">
        <div class="layui-inline">
            <div class="layui-inline" id="date_picker">
                {% if start_date != "" and start_date is not None and end_date != "" and end_date is not None %}
                <div class="layui-input-inline">
                    <input type="text" name="start_date" id="start_date" class="layui-input" placeholder="From"
                        value="{{ start_date }}" autocomplete="on">
                </div>
                <div class="layui-form-mid">-></div>
                <div class="layui-input-inline">
                    <input type="text" name="end_date" id="end_date" class="layui-input" placeholder="To"
                        value="{{ end_date }}" autocomplete="on">
                </div>
                {% else %}
                <div class="layui-input-inline">
                    <input type="text" name="start_date" id="start_date" class="layui-input" placeholder="From"
                        autocomplete="off">
                </div>
                <div class="layui-form-mid">-></div>
                <div class="layui-input-inline">
                    <input type="text" name="end_date" id="end_date" class="layui-input" placeholder="To"
                        autocomplete="off">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-btn-container" align="center">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1" name="filter_connections_log"
                value="True">Filter</button>
        </div>
    </div>
    {% if filtered == True %}
    <br>
    {% if count > 0 %}
    <table class="layui-table" style="width:90%; margin-left:auto; margin-right:auto;">
        <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>Time</th>
                <th>IP</th>
                <th>Type</th>
                <th>Region</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for connections_log in connections_logs %}
            <tr id="{{ connections_log.id }}">
                <td>{{ connections_log.time }}</td>
                <td>{{ connections_log.ip }}</td>
                <td>{{ connections_log.honeypot_type }}</td>
                <td>{{ connections_log.region }}</td>
                <td>
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1"
                        name="view_connection_details" value="{{ connections_log.id }}">View connection details</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div align="center">
        <blockquote class="layui-elem-quote layui-text" style="width:60%">
            No connections log.
        </blockquote>
    </div>
</form>
{% endif %}
{% endif %}
{% endblock %}